MONGO_URI=mongodb+srv://spa_admin:YOUR_PASSWORD_URL_ENCODED@cluster0.swvlcma.mongodb.net/spa_admin_db?retryWrites=true&w=majority&appName=Cluster0
MONGO_DB_NAME=spa_admin_db
SECRET_KEY=change-this-secret-key
JWT_SECRET_KEY=change-this-jwt-secret-key
DEBUG=false
FRONTEND_URL=https://your-frontend-domain.vercel.app
